<div class="flex flex-col p-4 h-full">
  <h2 class="text-lg text-gray-700 font-semibold">Ferramentas</h2>
  <div class="flex flex-col space-y-4 mt-6">
    <p-button
      label="Adicionar Retângulo"
      styleClass="w-full"
      (click)="elementService.addElement('rectangle')"
    >
      <ng-template #icon>
        <div class="w-[1.2rem] h-[1rem] border-2 border-white rounded-xs"></div>
      </ng-template>
    </p-button>
    <p-button
      label="Adicionar Estrela"
      icon="pi pi-star"
      styleClass="w-full"
      (click)="elementService.addElement('star')"
    ></p-button>
    <p-button
      label="Excluir Elemento"
      icon="pi pi-trash"
      severity="danger"
      styleClass="w-full"
      [disabled]="!elementService.selectedElement()"
      (click)="elementService.deleteElement()"
    ></p-button>
  </div>
</div>
