<div
  class="border border-gray-300 rounded-md overflow-hidden bg-white w-full h-full"
>
  <svg
    #svgCanvas
    class="w-full h-full"
    (mousedown)="onCanvasMouseDown($event)"
    (mousemove)="onCanvasMouseMove($event)"
    (mouseup)="onCanvasMouseUp()"
    (mouseleave)="onCanvasMouseLeave()"
  >
    @for(svgElement of svgElements(); track svgElement.id) {
    <g>
      @if (isRectangle(svgElement)) {
      <rect
        [attr.x]="svgElement.x"
        [attr.y]="svgElement.y"
        [attr.width]="svgElement.width"
        [attr.height]="svgElement.height"
        [attr.rx]="getBorderRadiusValue(svgElement)"
        [attr.ry]="getBorderRadiusValue(svgElement)"
        [attr.fill]="svgElement.fill"
        [attr.stroke]="svgElement.isSelected ? '#1976D2' : svgElement.stroke"
        [attr.stroke-width]="
          svgElement.isSelected
            ? svgElement.strokeWidth + 2
            : svgElement.strokeWidth
        "
        (mousedown)="onElementMouseDown($event, svgElement)"
      ></rect>
      } @else if(isStar(svgElement)) {
      <rect
        [attr.x]="svgElement.x"
        [attr.y]="svgElement.y"
        [attr.width]="svgElement.width"
        [attr.height]="svgElement.height"
        [attr.stroke]="svgElement.isSelected ? '#1976D2' : ''"
        fill="none"
        stroke-width="2"
      />
      <polygon
        [attr.points]="getStarPoints(svgElement)"
        [attr.fill]="svgElement.fill"
        [attr.stroke-width]="
          svgElement.isSelected
            ? svgElement.strokeWidth + 2
            : svgElement.strokeWidth
        "
        (mousedown)="onElementMouseDown($event, svgElement)"
      ></polygon>
      } @if (svgElement.isSelected) {
      <g>
        <circle
          [attr.cx]="svgElement.x"
          [attr.cy]="svgElement.y"
          r="6"
          fill="white"
          stroke="#1976D2"
          stroke-width="2"
          class="cursor-nw-resize"
          (mousedown)="onResizeHandleMouseDown($event, svgElement, 'top-left')"
        ></circle>

        <circle
          [attr.cx]="svgElement.x + svgElement.width"
          [attr.cy]="svgElement.y"
          r="6"
          fill="white"
          stroke="#1976D2"
          stroke-width="2"
          class="cursor-ne-resize"
          (mousedown)="onResizeHandleMouseDown($event, svgElement, 'top-right')"
        ></circle>

        <circle
          [attr.cx]="svgElement.x"
          [attr.cy]="svgElement.y + svgElement.height"
          r="6"
          fill="white"
          stroke="#1976D2"
          stroke-width="2"
          class="cursor-sw-resize"
          (mousedown)="
            onResizeHandleMouseDown($event, svgElement, 'bottom-left')
          "
        ></circle>

        <circle
          [attr.cx]="svgElement.x + svgElement.width"
          [attr.cy]="svgElement.y + svgElement.height"
          r="6"
          fill="white"
          stroke="#1976D2"
          stroke-width="2"
          class="cursor-se-resize"
          (mousedown)="
            onResizeHandleMouseDown($event, svgElement, 'bottom-right')
          "
        ></circle>
      </g>
      }
    </g>
    }
  </svg>
</div>
