<div
  *ngIf="selectedElement() as element"
  class="flex flex-col h-full overflow-y-auto p-4"
>
  <div class="flex flex-col h-full">
    <h3 class="text-lg text-gray-700 font-semibold mb-6">Propriedades</h3>

    <div class="mb-6 bg-white rounded-md p-4">
      <h4 class="font-medium text-gray-700 mb-3">Geral</h4>
      <div class="mb-3 flex flex-col">
        <label for="fill" class="text-sm text-gray-600"
          >Cor de Preenchimento:</label
        >
        <p-colorPicker
          id="fill"
          [(ngModel)]="element.fill"
          (ngModelChange)="elementService.updateSelectedElement()"
          styleClass="w-full"
        ></p-colorPicker>
      </div>

      <div class="mb-3 flex flex-col">
        <label for="stroke" class="text-sm text-gray-600">Cor da Borda:</label>
        <p-colorPicker
          id="stroke"
          [(ngModel)]="element.stroke"
          (ngModelChange)="elementService.updateSelectedElement()"
          styleClass="w-full"
        ></p-colorPicker>
      </div>

      <div class="mb-3 flex flex-col">
        <label for="strokeWidth" class="text-sm text-gray-600"
          >Espessura da Borda:</label
        >
        <div class="flex items-center">
          <p-slider
            id="strokeWidth"
            [min]="0"
            [max]="10"
            [step]="1"
            [(ngModel)]="element.strokeWidth"
            (ngModelChange)="elementService.updateSelectedElement()"
            class="flex-1"
          ></p-slider>
          <span class="ml-3 text-sm text-gray-600"
            >{{ element.strokeWidth }}px</span
          >
        </div>
      </div>
    </div>

    @if(isRectangle(element)) {
    <div class="mb-6 bg-white rounded-md p-4">
      <h4 class="font-medium text-gray-700 mb-3">Retângulo</h4>

      <div class="mb-3 flex flex-col">
        <label for="borderRadius" class="text-sm text-gray-600"
          >Arredondamento dos Cantos:</label
        >
        <div class="flex items-center">
          <p-slider
            id="borderRadius"
            [min]="0"
            [max]="50"
            [step]="1"
            [(ngModel)]="element.borderRadius"
            (ngModelChange)="elementService.updateSelectedElement()"
            class="flex-1"
          ></p-slider>
          <span class="ml-3 text-sm text-gray-600"
            >{{ element.borderRadius }}px</span
          >
        </div>
      </div>
    </div>
    } @else if(isStar(element)) {
    <div class="mb-6 bg-white rounded-md p-4">
      <h4 class="font-medium text-gray-700 mb-3">Estrela</h4>

      <div class="mb-3 flex flex-col">
        <label for="points" class="text-sm text-gray-600"
          >Número de Pontas:</label
        >
        <div class="flex items-center">
          <p-slider
            id="points"
            [min]="3"
            [max]="12"
            [step]="1"
            [(ngModel)]="element.points"
            (ngModelChange)="elementService.updateSelectedElement()"
            class="flex-1"
          ></p-slider>
          <span class="ml-3 text-sm text-gray-600">{{ element.points }}</span>
        </div>
      </div>

      <div class="mb-3 flex flex-col">
        <label for="innerRadius" class="text-sm text-gray-600"
          >Comprimento das Pontas:</label
        >
        <div class="flex items-center">
          <p-slider
            id="innerRadius"
            [min]="5"
            [max]="50"
            [step]="5"
            [(ngModel)]="element.innerRadius"
            (ngModelChange)="elementService.updateSelectedElement()"
            class="flex-1"
          ></p-slider>
          <span class="ml-3 text-sm text-gray-600"
            >{{ (element.innerRadius / element.outerRadius) * 100 }}%</span
          >
        </div>
      </div>
    </div>
    }

    <div class="mb-6 bg-white rounded-md p-4">
      <h4 class="font-medium text-gray-700 mb-3">Posição e Tamanho</h4>

      <div class="mb-3 flex flex-col">
        <label for="posX">Posição X:</label>
        <p-inputNumber
          inputId="posX"
          [(ngModel)]="element.x"
          (ngModelChange)="elementService.updateSelectedElement()"
          [showButtons]="true"
          [step]="1"
          [min]="0"
          class="w-full"
        ></p-inputNumber>
      </div>

      <div class="mb-3 flex flex-col">
        <label for="posY">Posição Y:</label>
        <p-inputNumber
          inputId="posY"
          [(ngModel)]="element.y"
          (ngModelChange)="elementService.updateSelectedElement()"
          [showButtons]="true"
          [step]="1"
          [min]="0"
          class="w-full"
        ></p-inputNumber>
      </div>

      <div class="mb-3 flex flex-col">
        <label for="width">Largura:</label>
        <p-inputNumber
          inputId="width"
          [(ngModel)]="element.width"
          (ngModelChange)="elementService.updateSelectedElement()"
          [showButtons]="true"
          [step]="1"
          [min]="10"
          class="w-full"
        ></p-inputNumber>
      </div>

      <div class="mb-3 flex flex-col">
        <label for="height">Altura:</label>
        <p-inputNumber
          inputId="height"
          [(ngModel)]="element.height"
          (ngModelChange)="elementService.updateSelectedElement()"
          [showButtons]="true"
          [step]="1"
          [min]="10"
          class="w-full"
        ></p-inputNumber>
      </div>
    </div>
  </div>
</div>
